@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Roboto+Condensed:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', sans-serif;
    box-sizing: border-box;
}

body {

    font-size: 16px;
    color: #242424;
}

.header {
    background: #46b7c1;
    padding-top: 6px;
    width: 100%;
    margin-bottom: 30px;

}

.container {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0px auto;
}


.header b {
    background: #fff;
    color: red;
    padding: 10px;
    font-size: 20px;
}




.header marquee {
    font-size: 20px;
    color: #fff;
    /* width: 80%; */
}


.navbar{
    position: relative;
  }
  
  .logo a{
    position: absolute;
    left: 6em;
    top: 6.4rem;
  
  }
  .logo p{
    position: absolute;
    left: 3.5em;
    top: 6.6em;
    font-size: 1.3rem;
  }
  .logo img {
    width: 2.5rem;
  
  }
  



/* navbar start  */


nav {
    display: flex;
    background-color: #46b7c1;

    justify-content: end;
    align-items: center;
    padding: 25px 70px;
    gap: 20px;
    /* margin-top:20px; */

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.50s ease-out;
}

nav a::before {

    width: 100%;
    background: white;
}

nav a:hover {
    color: rgb(65, 61, 61);
    /* transition: all .10s ease; */

}

nav a.active {
    color: rgb(70, 65, 65);
    /* text-decoration: underline; */
}

/* navbar end */


.img-container {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 1300px;
    margin: 0px auto;


}

.heading {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #46b7c1;
    font-size: 3em;
    color: #46b7c1;
    margin: 0.35em 27rem 0.3em 27rem;
}

.img-container img {
    border: 2px solid #46b7c1;;
    margin: .3em;
    padding: 4px;
    width: 20%;
    height: 200px;
    /* background-color: #46b7c1; */

}


.gallary{
    background-color: #f0f0f0;
}